.global-search {

  .search-link {
    position: relative;
    padding: 20px 0;
    margin-bottom: 12px;
    .line {
      position: relative;
      height: 1px;
      background: rgba(0, 0, 0, 0.2);
    }
    a {
      position: absolute;
      background: #fff;
      bottom: 10px;
      padding: 0 15px;
      margin: auto;
      left: 50%;
      margin-left: -96px;
      font-weight: 400;
      span {
        margin-left: 5px;
        font-size: 12px;
        color: $general-color;
      }
    }
  }
  .girls-grid {
    background: $color-bg;
  }
  .girls-list {
    .col-md-3 {
      margin-top: 25px;
    }
    .col-xs-6 {
      @media (max-width: 510px) {
        width: 100%;
      }
    }
  }
  .inform-card {
    position: relative;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #ddd;
  }
  .filter-control {
    display: inline-block;
    margin-top: 30px;
    button {
      float: left;
      padding: 4px 20px;
      background: $color-bg;
      border: 1px solid $general-color;
      border-radius: 6px;
      color: $general-color;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      @media (max-width: 368px) {
        padding: 4px 12px;
        font-size: 13px;
      }
      &:focus, &:active {
        outline: none;
      }
      &:nth-child(1) {
        border-radius: 6px 0 0 6px;
      }
      &:nth-child(2) {
        border-radius: 0;
        border-right: 0;
        border-left: 0;
      }
      &:nth-child(3) {
        border-radius: 0 6px 6px 0;
      }
    }
    .active {
      background: $general-color;
      color: $white;
    }
  }
  .girl-item {
    position: relative;
    & > img {
      width: 100%;
    }
    .photo-icon {
      display: inline-block;
      position: absolute;
      bottom: 80%;
      left: 6%;
      padding: 4px 12px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 6px;
      span {
        float: right;
        display: block;
        color: $white;
        margin-left: 4px;
        margin-top: 3px;
      }
    }
    .top-icon {
      position: absolute;
      bottom: 80%;
      right: 6%;
    }
  }
  .card-actions {
    position: absolute;
    width: 100%;
    bottom: 72px;
    text-align: center;
    background-image: -ms-linear-gradient(right, #4E92FF 0%, #376CF8 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(right, #4E92FF 0%, #376CF8 100%);
    /* Opera */
    background-image: -o-linear-gradient(right, #4E92FF 0%, #376CF8 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #4E92FF), color-stop(100, #376CF8));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(right, #4E92FF 0%, #376CF8 100%);
    /* W3C Markup */
    background-image: linear-gradient(to left, #4E92FF 0%, #376CF8 100%);
    @media (max-width: 1199px) {
      bottom: 85px;
    }
    @media (max-width: 991px) {
      bottom: 72px;
    }
    a {
      color: #fff;
      font-size: 14px;
      @media (max-width: 1199px) {
        font-size: 10px;
      }
      @media (max-width: 991px) {
        font-size: 14px;
      }
      @media (max-width: 527px) {
        font-size: 11px;
      }
      @media (max-width: 510px) {
        font-size: 16px;
      }
    }
    span {
      margin-right: 8px;
    }
    .favourites, .message {
      float: left;
      color: #fff;
      width: 50%;
      padding: 8px 2px;
    }
    .favourites {
      border-right: 1px solid #ccc;
    }
  }
  .data-card {
    background: $white;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    letter-spacing: 1px;
    .name, .age {
      font-size: 16px;
      color: $general-color;
      font-weight: 700;
    }
    .status-online {
      float: right;
      display: block;
      width: 9px;
      height: 9px;
      background: $green;
      border-radius: 50%;
      margin-right: 78px;
      margin-top: 6px;
      @media (max-width: 1199px) {
        margin-right: 30px;
      }
      @media (max-width: 991px) {
        margin-right: 49%;
      }
      @media (max-width: 727px) {
        margin-right: 45%;
      }
      @media (max-width: 691px) {
        margin-right: 38%;
      }
      @media (max-width: 626px) {
        margin-right: 33%;
      }
      @media (max-width: 580px) {
        margin-right: 28%;
      }
      @media (max-width: 556px) {
        margin-right: 20%;
      }
      @media (max-width: 510px) {
        margin-right: 63%;
      }
      @media (min-width: 401px) and (max-width: 440px) {
        margin-right: 57%;
      }
      @media (min-width: 343px) and (max-width: 400px) {
        margin-right: 47%;
      }
      @media (min-width: 320px) and (max-width: 342px) {
        margin-right: 36%;
      }
    }
  }

  .pagination-wrapper {
    text-align: center;
    .pagination {
      padding: 6px 0;
      background: $white;
      border-radius: 6px;
      margin: 40px 0 30px 0;
      span {
        font-size: 12px;
      }
      .active > a {
        background: $general-color;
        color: #fff;
        border-radius: 6px;
      }
      & > li > a, & > li > span {
        border: none;
        color: #ccc;
        font-weight: 400;
        margin: 0 3px;
        &:hover {
          background: $general-color;
          color: #fff;
          border-radius: 6px;
        }
      }
      & > li > a {
        @media (max-width: 480px) {
          padding: 6px 10px;
        }
      }
    }
  }
}

