@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

$white: #fff;
$black: #000000;
$general-color: #366cf7;
$color-text: #333333;
$color-bg: #f0f0f0;
$green: #01f501;
$grey: #898989;

@import "components/common";
@import "components/header";
@import "components/photo-girls";
@import "components/search-block";
@import "components/global-search";
@import "components/footer";

















